/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

	/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/
	
	a.video-image span:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.title_uppercase { text-transform:uppercase; }
	.title_bold { font-weight:bold; }
	
	/* http://prntscr.com/dydrzx = Reseller Hosting page */
	.extend-bg-fullwidth-left:after { content:""; position:absolute; top:0px; right:100%; height:100%; width: 100%; display:inline !important; }
	.extend-bg-fullwidth-right:after { content:""; position:absolute; top:0px; left:100%; height:100%; width: 100%; display:inline !important; }
	
	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after { background:#f5f5f5; }
	
	.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after, .dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after { background: none; }
	
	a.video-image span { font-size: 40px; position: relative; height: 75px; width: 75px; line-height: 75px; color: #fff; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	a.video-image span:after { position: absolute; display: block; content: ""; height: 75px; width: 75px; line-height: 75px; border-radius: 50%; background: #2b2b2b; color: #fff; -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); z-index: -1; top: 0; left: -2px; }
	a.video-image span:hover:after { background: #fff; }
	
	
	.image-overlay-icon .vc_single_image-wrapper { position: relative; }
	.image-overlay-icon .vc_single_image-wrapper:before { content: ""; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.4); top: 0; left: 0; right: 0; margin: 0 auto; position: absolute; }
	
	.image-overlay-icon a.video-image { position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; width: 100%; text-align: center; }
	
	.secondary-skin-gradient .dt-sc-title.with-right-border-decor > :first-child:after,
	.secondary-skin-highlight .dt-sc-title.with-right-border-decor > :first-child:after { background: #fff; }
	
	.secondary-skin-gradient ul.dt-sc-fancy-list li:before,	.secondary-skin-highlight ul.dt-sc-fancy-list li:before, .secondary-skin-bg p { color: #fff; }
	
	.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 50px; font-weight: bold; line-height: 40px; color: #fff; }	
	
	.main-circle > .vc_column-inner { background-position: center; background-repeat: no-repeat; }
	.main-circle > .vc_column-inner .info-c-full-br .info-c-full { opacity: 0; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	.main-circle > .vc_column-inner .info-c-full-br:hover .info-c-full { opacity: 1; }
	
	.main-circle .info-c-full .info-c-full-wrap { display: block\0 !important; }
	
	.main-circle > .vc_column-inner .info-c-full-br .icon-circle-list .info-circle-icons { z-index: 3; }
	
	.main-circle > .vc_column-inner .info-circle-wrapper, .main-circle > .vc_column-inner .info-wrapper.ult-adjust-bottom-margin { margin-top: 0 !important; margin-bottom: 0 !important; }
	
	.main-circle > .vc_column-inner .info-circle-def { border-radius: 50%; box-shadow: 0px 0px 0px 110px #fff; }
	.main-circle > .vc_column-inner .info-circle-heading { text-transform: capitalize; }
	
	.gradient-parallax:before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; z-index: 9;
    background: -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }
	
	.gradient-parallax .gradient-content { z-index: 9; padding-right: 45px; }
	
	.overflow-parallax-content {width: 50%;position: relative;float: left;margin-bottom: -550px;}
	.overflow-parallax-content .vc_column_container .vc_column-inner { padding-left: 60px; }
	.overflow-parallax-content .vc_column_container.vc_col-sm-6 .vc_column-inner { padding-left: 0; }	
	.overflow-parallax-content .overflow-section .vc_column-inner { margin: 0px; padding: 0px; position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); height: 100%; }
	.overflow-parallax-content .overflow-section .vc_column-inner .wpb_single_image.wpb_content_element { margin-bottom: 0; }
	.overflow-parallax-content .vc_column_container { z-index: 99; }	
	
	.overflow-content { margin: 120px 0; }
	
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
		::i-block-chrome, .safari-hack.vc_row.vc_row-flex { display: block !important; }
	}
	/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

	/*----*****---- << Vc Column custom class >> --****--*/
	.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */
	
	.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
	.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }	


	/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
	.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
	


	/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
	.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0px 12px 20px; }
	.dt-sc-text-with-icon span { font-size:18px; margin:0px 7px 0px 0px; position:relative; top:2px; font-weight:bold; }
	
	.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
	.dt-sc-text-with-icon.border-right { border-right:1px solid; }

	.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }
	
		
	
	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
	.hosting-table { border-top:0px; font-family:'Open Sans', sans-serif; }
	.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0px 0px; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0px; font-size:16px; font-weight:600; padding:25px 15px; }
	.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }
	
	.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
	.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
	.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
	.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
	.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
	.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
	.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
	.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
	.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
	.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
	.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }
	
	.hosting-table tbody tr td:first-child { position:relative; }
	.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0px; top:0px; width:100%; height:100%; background:#60ae0d; z-index:-1; }
	
	.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
	.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
	.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }
	


	/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
	.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *
	

	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
	.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0px 0px; padding:0px; }
	.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }
	
	
	.dt-sc-contact-details-on-map .dt-sc-map-overlay h3, .dt-sc-contact-details-on-map .map-switch-icon:hover { color:#ffffff; }	
	.dt-sc-contact-details-on-map .map-switch-icon:hover { background:#000000; } /* http://prntscr.com/dydzs2 = Restaurant */
	
	
	/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; } 
	
	
	.dt-sc-readmore-plus-icon { position:absolute; right:0px; bottom:0px; width:60px; height:60px; text-indent:-9999px; }
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
	.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
	.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }	
	
	
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }	
	.dt-sc-readmore-plus-icon { background:#000000; }	
	.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }
	
	
	
	/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
	.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.diamond-narrow-square-border li a { color:#000000; }	
	.diamond-narrow-square-border li a:hover { color:#ffffff; }
	
	/*** Resume Styles ***/
	
	.lr-padding{padding-left:50px;}
	
	.space-both-sides.vc_column_container>.vc_column-inner{padding-left:60px; padding-right:60px;}
	
	.float_left{float:left; margin-right:20px;}
	
	.aligncenter .float_left{float:none;}
	
	.fullwidth .dt-sc-timeline .column.dt-sc-one-half{width:100%;}
	
	.fullwidth.dt-sc-timeline-section.type3 .dt-sc-timeline .dt-sc-timeline-content:before{right:auto; left:-50px; border-width:1px; background-color:#f6f6f6; padding:5px; box-shadow:0px 0px 0px 3px #FFF inset; -moz-box-shadow:0px 0px 0px 3px #FFF inset; -webkit-box-shadow:0px 0px 0px 3px #FFF inset;}
	
	.fullwidth.dt-sc-timeline-section.type3 .dt-sc-timeline{padding-left:50px;}
	
	.fullwidth.dt-sc-timeline-section.type3:before{right:auto; left:12px; width:1px;}
	
	.fullwidth.dt-sc-timeline-section.type3 .dt-sc-timeline .dt-sc-timeline-content h2:before{right:auto; left:0px;}
	
	.fullwidth.dt-sc-timeline-section.type3 .dt-sc-timeline .dt-sc-timeline-content:after{right:auto; left:-55px;}
	
	.space-all-sides{padding:70px 30px 30px; margin-top:-180px; box-shadow:0px -12px 20px 0px rgba(0, 0, 0,0.08); -moz-box-shadow:0px -12px 20px 0px rgba(0, 0, 0,0.08); -webkit-box-shadow:0px -12px 20px 0px rgba(0, 0, 0,0.08);}
	
	.wpb_column .wpb_column.border-highlight{padding:20px 0 0 30px; position:relative;}
	
	.border-highlight:before{content:""; border-left:5px solid; width:100%; height:100%; display:inline-block; position:absolute; left:20px; top:0;}
	
	.animated-btn{overflow:hidden; border:1px solid; position:relative; padding:16px 30px 14px; z-index:1; display:inline-block; line-height:normal;}
	.animated-btn:hover{color:#FFF;}	

	.animated-btn:after {  content: ""; display: block; height: 100%; margin: auto; position: absolute; right: -15px; top: 0; }
	
	
	.animated-btn:after{-moz-transform: scale(0.9);-ms-transform: scale(0.9);-webkit-transform: scale(0.9);box-shadow: 0 0 0px 0px #FFF;content: "";display: block;height: 100px;left: 0; right:0px;opacity: 0;padding: 0;position: absolute;top: 0; bottom:0px; transform: scale(0.9);width: 100px;z-index: 0;border-radius: 100%;}

	.animated-btn:hover:after{-moz-animation: zooming 1s ease-out; -ms-animation: zooming 1s ease-out; -webkit-animation: zooming 1s ease-out; animation: zooming 1s ease-out; box-shadow: 0 0 10px 10px #FFF;}

	.animated-btn:hover{border-color:transparent;}

	@-webkit-keyframes zooming {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
			-webkit-transform: scale(1.1);
			opacity: 0;
		}
	}
	@-moz-keyframes zooming {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
			-moz-transform: scale(1.1);
			opacity: 0;
		}
	}
	@-ms-keyframes zooming {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
			-ms-transform: scale(1.1);
			opacity: 0;
		}
	}
	@keyframes zooming {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
		}
		100% {
			box-shadow: 0 0 0 2px rgba(255,255,255,0.3), 0 0 15px 15px rgba(0,0,0,0.1), 0 0 0 15px rgba(255,255,255,0.5);
			transform: scale(1.1);
			opacity: 0;
		}
	}	



	/*** Home Banner Styles ***/
	
	.upb_row_bg.vcpb-mlvp-jquery .vertical_layer_parallax{ min-height:1100px;}
	/*Slider*/
	
	#slider {overflow: hidden;}
	#slider .vc_column-inner > .wpb_wrapper{ padding-top:110px;}
	.dt-sc-twist-title{height:auto;min-height:auto !important;padding:0px}
	.dt-sc-twist-title{ background:none;}
	.no-breadcrumb #main {margin-top:0px;}
	.dt-sc-twist-title a:hover span {color: #CCC;}
	.dt-sc-twist-title a:before {border-color: #CCC;}
	.dt-sc-twist-title span:empty{width:10px;}
	
	.banner-main h2, .banner-main h3{font-size:30px;}
	
	.dt-sc-twist-title a:before {
		width: 50%;
		left: auto;
		text-align: center;
		display: -webkit-flex;
		left: 50%;
		margin-left: -25%;
		-webkit-transform: initial;
	}
	
	
	.banner-main {
		background: #121d2a;
		color: #333;
		font: 100% Arial, Sans Serif;
		margin: 0;
		padding:25px 0 290px;
	
	}
	
	#background-wrap {
		bottom: 0;
		left: 0;
		padding-top: 50px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
		/*overflow: hidden;*/
	}
	
	/* KEYFRAMES */
	
	@-webkit-keyframes animateCloud {
		0% {
			margin-left: -1000px;
		}
		100% {
			margin-left: 100%;
		}
	}
	
	@-moz-keyframes animateCloud {
		0% {
			margin-left: -1000px;
		}
		100% {
			margin-left: 100%;
		}
	}
	
	@keyframes animateCloud {
		0% {
			margin-left: -1000px;
		}
		100% {
			margin-left: 100%;
		}
	}
	
	/* ANIMATIONS */
	
	.x1 {
		-webkit-animation: animateCloud 35s linear infinite;
		-moz-animation: animateCloud 35s linear infinite;
		animation: animateCloud 35s linear infinite;
		
		-webkit-transform: scale(0.65);
		-moz-transform: scale(0.65);
		transform: scale(0.65);
		
	}
	
	.x2 {
		-webkit-animation: animateCloud 20s linear infinite;
		-moz-animation: animateCloud 20s linear infinite;
		animation: animateCloud 20s linear infinite;
		
		-webkit-transform: scale(0.3);
		-moz-transform: scale(0.3);
		transform: scale(0.3);
	}
	
	.x3 {
		-webkit-animation: animateCloud 30s linear infinite;
		-moz-animation: animateCloud 30s linear infinite;
		animation: animateCloud 30s linear infinite;
		
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		transform: scale(0.5);
	}
	
	.x4 {
		-webkit-animation: animateCloud 18s linear infinite;
		-moz-animation: animateCloud 18s linear infinite;
		animation: animateCloud 18s linear infinite;
		
		-webkit-transform: scale(0.4);
		-moz-transform: scale(0.4);
		transform: scale(0.4);
	}
	
	.x5 {
		-webkit-animation: animateCloud 25s linear infinite;
		-moz-animation: animateCloud 25s linear infinite;
		animation: animateCloud 25s linear infinite;
		
		-webkit-transform: scale(0.55);
		-moz-transform: scale(0.55);
		transform: scale(0.55);
	}
	
	/* OBJECTS */
	
	.cloud {
		background: #27333f;
	
		
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		
		-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	
		height: 120px;
		position: relative;
		width: 350px;
	}
	
	.cloud:after, .cloud:before {
		background: #27333f;
		content: '';
		position: absolute;
		z-indeX: -1;
	}
	
	.cloud:after {
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	
		height: 100px;
		left: 50px;
		top: -50px;
		width: 100px;
	}
	
	.cloud:before {
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
	
		width: 180px;
		height: 180px;
		right: 50px;
		top: -90px;
	}
	/*Slider*/
	
	
	/*** Home II Styles ***/
	
	.aligncenter.dt-sc-sociable li {float: none;display: inline-block;}

	.portfolio-display .dt-sc-portfolio-container.with-space { margin: 0px 0px;}
	
	.sticky-bgcolor{background:#ffffff;}
	.right-col-padding > .vc_column-inner{ padding:0 40px;} 
	
	/*** Home III Styles ***/
	
	.inner-content-padding .vc_row.wpb_row.vc_inner.vc_row-has-fill{ padding:0 50px;}

	.content-override .vc_column-inner:before {content: "";background-color: #FFF;position: absolute;top: 20px;left: 20px;width: calc(100% - 40px);height: calc(100% - 40px);display: inline-block;bottom: 20px;right: 20px;z-index:-1;}
	.move-to-top {margin-top: -97px;}
	.type9.alter ul.dt-sc-tabs-horizontal-frame > li > a.current {color:#fff;}
	.content-override {margin-left: -100px;z-index: 1;}
	.content-override.alter {margin-right: -100px;z-index:9;}
	.dt-sc-image-caption.type9.alter .dt-sc-image-title {margin-bottom: 30px;display: inline-block;width: 100%;color: #FFF;position: absolute;left: 0;right: 0;top: 0;margin: auto;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);opacity: 0;}
	.dt-sc-tabs-horizontal-frame-container.type9.alter .dt-sc-tabs-horizontal-frame-content {background: none;padding-top: 100px;}

	/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
	/* IE9 and above override */	
	@media screen and (min-width:0\0) { 
			
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
		
	}
	
	/* IE9 only override */	
	.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }	
	
	@media only screen and (min-width:1200px) and (max-width:1280px) {
	
		.main-circle > .vc_column-inner { background-size: 70%; }
		
		.responsive-adjustment .vc_column_container.vc_col-sm-7 { width: 85%; }
		.responsive-adjustment .vc_column_container.vc_col-sm-4 { width: 6.66%; }
		
		.responsive-adjustment .blog-entry.blog-thumb-style .entry-thumb { width: 35%; }
		.responsive-adjustment .blog-entry.blog-thumb-style .entry-details { width: 65%; }
		.responsive-adjustment .blog-entry.blog-thumb-style .entry-title h4 { font-size: 16px; margin-bottom: 0; }
		.responsive-adjustment .blog-entry.blog-thumb-style.entry-date-left .entry-body { margin-bottom: 10px; }
		.responsive-adjustment .blog-entry.blog-thumb-style.entry-date-left .entry-body p { font-size: 14px; line-height: 22px; } 
		.responsive-adjustment .blog-entry.blog-thumb-style { padding-bottom: 10px; }		
		.responsive-adjustment .blog-entry.blog-thumb-style.last { padding-bottom: 0; }
		.responsive-adjustment .blog-entry.blog-thumb-style a.read-more { font-size: 12px; }
		
	}
	
	/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		.main-circle > .vc_column-inner { background-size: 50%; }
		.main-circle > .vc_column-inner .info-circle-def { box-shadow: 0px 0px 0px 40px #fff; }
		.main-circle > .vc_column-inner .info-circle-heading { text-transform: capitalize; font-size: 18px; line-height: normal; }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:10px; }
		
		/*----*****---- << Restaurant >> ----*****----*/
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 13px; }
		
		.responsive-adjustment .vc_column_container.vc_col-sm-7 { width: 85%; }
		.responsive-adjustment .vc_column_container.vc_col-sm-4 { width: 6.66%; }
		
		.responsive-adjustment .blog-entry.blog-thumb-style .entry-thumb { width: 35%; }
		.responsive-adjustment .blog-entry.blog-thumb-style .entry-details { width: 65%; }
		.responsive-adjustment .blog-entry.blog-thumb-style .entry-title h4 { font-size: 16px; margin-bottom: 0; }
		.responsive-adjustment .blog-entry.blog-thumb-style.entry-date-left .entry-body { margin-bottom: 10px; }
		.responsive-adjustment .blog-entry.blog-thumb-style.entry-date-left .entry-body p { font-size: 14px; line-height: 22px; } 
		.responsive-adjustment .blog-entry.blog-thumb-style { padding-bottom: 10px; }		
		.responsive-adjustment .blog-entry.blog-thumb-style.last { padding-bottom: 0; }
		.responsive-adjustment .blog-entry.blog-thumb-style a.read-more { font-size: 12px; }
		
		.dt-sc-image-caption.type8 .dt-sc-image-title h6 { line-height: normal; }
		
		.fullwidth-on-ipad .vc_col-sm-1 { width: 20%; }
		.fullwidth-on-ipad .vc_col-sm-4 { padding: 30px 0 40px; width: 60%; }
		.fullwidth-on-ipad .vc_col-sm-4 .vc_col-sm-6 { width: 50%; }
		.fullwidth-on-ipad .vc_col-sm-6 { width: 100%; }
		
		.space-all-sides{margin-top:-150px;}
		.lr-padding{padding-left:0px;}
		.dt-sc-timeline-item h4{font-size:20px; line-height:40px;}
		.dt-sc-timeline-item h3{font-size:25px; margin-top:10px;}
		.vc_col-sm-3 .dt-sc-donutchart-medium .donutchart-text{line-height:150px !important;}
		
		.ult-sticky-section .dt-sc-button.medium.with-icon.icon-left{padding:14px 10px 12px; font-size:12px;}
		
		.ult-sticky-section .dt-sc-button.medium.with-icon.icon-left span{margin-right:3px;}
		
		.portfolio-display .dt-sc-portfolio-container .dt-sc-one-third{width:100%;}
		
		.make-one-half.vc_col-sm-3{width:49%; margin-bottom:30px;}
		
	}
	
	 /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
		
		.dt-sc-text-with-icon { font-size: 11px; }
		
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 { padding-left: 5px; padding-right: 5px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 { font-size: 13px; padding-left: 10px; padding-right: 10px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 { font-size: 15px; }
		.rs_line_height p { line-height:normal !important; }
		
		.resume-contact-form{padding:20px 10px;}
		
		.main-circle > .vc_column-inner { background-size: 60%; }
		.main-circle > .vc_column-inner .info-circle-def { box-shadow: 0px 0px 0px 50px #fff; }
		.main-circle > .vc_column-inner .info-circle-heading { text-transform: capitalize; font-size: 14px; line-height: normal; }		
		
		.overflow-parallax-content .overflow-section { display: block !important; }
		.overflow-parallax-content .overflow-section .dt-sc-image-caption.type8 .dt-sc-image-content { padding: 95px 45px; }
		.overflow-parallax-content .overflow-section .dt-sc-image-caption.type8 .dt-sc-image-title h6 { line-height: normal; }
		
		.responsive-adjustment .vc_col-sm-6 { width: 100%; }
		
		.responsive-adjustment .vc_col-sm-6 .vc_col-sm-1 { width: 15%; }
		.responsive-adjustment .vc_col-sm-6 .vc_col-sm-7 { width: 70%; padding: 60px 0; }
		.responsive-adjustment .vc_col-sm-6 .vc_col-sm-4 { width: 15%; }
		
		.fullwidth-on-ipad .vc_col-sm-1 { width: 20%; }
		.fullwidth-on-ipad .vc_col-sm-4 { padding: 30px 0 40px; width: 60%; }
		.fullwidth-on-ipad .vc_col-sm-4 .vc_col-sm-6 { width: 50%; }
		.fullwidth-on-ipad .vc_col-sm-6 { width: 100%; }

		
		/*----*****---- << Event >> ----*****----*/
		.dt-sc-content-with-hexagon-shape { margin-left:16%; }
		.event-colored-box { margin-top:0; }
		.event-contact-info { margin-left:25%; }
		
		/*----*****---- << Architecture >> ----*****----*/
		.architecture-process.rs_padding_override { padding-left:20px !important; padding-right:20px !important; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 { width:32%; margin-bottom:20px; min-height:290px; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4), .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) { margin-left:0; }
		
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 40px; }
		
		.main-circle > .vc_column-inner { background-size: 90%; }
		.main-circle > .vc_column-inner .info-circle-wrapper { display: none; }
		
		.space-all-sides{margin-top:-150px;}
		.lr-padding{padding-left:0px;}
		.dt-sc-twist-title a{font-size:60px;}
		
		.ult-sticky-section .dt-sc-button.medium.with-icon.icon-left{padding:14px 10px 12px; font-size:12px;}
		
		.ult-sticky-section .dt-sc-button.medium.with-icon.icon-left span{margin-right:3px;}
		
		.portfolio-display .dt-sc-portfolio-container .dt-sc-one-third{width:100%;}
		
	}
	
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
	
		.fitness-form-container.extend-bg-fullwidth-right::after { background-color:transparent; }
		.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner { padding-left:30px !important; padding-right:30px !important; }
		.fitness-contact-boxes .wpb_text_column, .fitness-contact-boxes .wpb_text_column:nth-child(2), .fitness-contact-boxes .wpb_text_column:last-child, .fitness-contact-boxes .wpb_text_column:nth-child(3) { width:100%; padding:10px 0px; }
		
		.hotel_blockquote-type4 blockquote.type4 { margin-top:0; }
		
		.event-colored-box { margin-top:0; }
		.event-contact-info.wpb_column { width: 320px; padding: 85px 30px 30px; float: none; }
		
		.vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner { padding-right: 75px; padding-left: 75px; }
	
		.vc_row.vc_row-no-padding .wpb_column.no-margin { margin-bottom: 0; }
		
		.left10.vc_column_container > .vc_column-inner { padding-left: 0; padding-right: 10px; }
		
		.vc_row.vc_row-flex > .vc_column_container.main-circle { display: none; }
		
		.gradient-parallax:before { background: -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }
	
		.responsive-adjustment .vc_col-sm-6 { width: 100%; }
		
		.responsive-adjustment .vc_col-sm-6 .vc_col-sm-1 { width: 0%; }
		.responsive-adjustment .vc_col-sm-6 .vc_col-sm-7 { width: 100%; padding: 60px 0; }
		.responsive-adjustment .vc_col-sm-6 .vc_col-sm-4 { width: 0%; }
		
		.overflow-parallax-content { width: 100%; margin: 0;  }
		.overflow-parallax-content .overflow-section .vc_column-inner { position: static; top: auto; transform: none; -moz-transform: none; -webkit-transform: none; -ms-transform:	none; height: auto; }
		.overflow-parallax-content .vc_column_container .vc_column-inner { padding-right: 0 !important; }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:100px; }
		.rs_client_testimonial-center .dt-sc-image-flip a { position:relative; display:block; }
		.rs_client_testimonial-center .dt-sc-image-flip { text-align:center; }
		
		.hosting-table th { font-size:13px; padding:13px 10px; text-transform: capitalize; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:13px; padding:21px 10px; }
		.hosting-contact-info-container:before { content:none; }
		
		.extend-bg-fullwidth-left::after { content:none; }
		
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_col_no_btm_space .wpb_column, .rs_col_no_btm_space.wpb_column, 
		.rs_negative-margin_override.vc_row { margin-left:0 !important; }
					
		.rs_padding_override_zero.vc_row,
		.rs_padding_override_zero.wpb_column .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }
		
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 30px; }
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 50px !important; padding-right: 50px !important; }
		
		.space-all-sides{padding:10px 15px 10px; margin-top:0; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}	
		
		.space-both-sides.vc_column_container>.vc_column-inner{padding-left:15px; padding-right:15px;}	
		
		.aligncenter.dt-sc-title.with-two-color-stripe h2{font-size:45px;}
		
		.dt-sc-timeline-detail{padding:0px 15px 30px;}
		
		.dt-sc-timeline-detail .dt-sc-timeline-image{width:100%; margin-right:0px; margin-bottom:30px;}
		
		.dt-sc-timeline-description{width:100%;}
		
		.lr-padding{padding-left:0px;}
		
		/*.float_left{margin-right:0px;}*/
		
		.space-all-sides .alignright .dt-sc-sociable{float:none; text-align:center;}
		
		.space-all-sides .alignright .dt-sc-sociable li{float:none; display:inline-block;}
		
		.banner-main{padding-bottom:80px;}
		
		.content-override {margin-left: 0px;}
		.content-override.alter {margin-right:0px;}
		.inner-content-padding .vc_row.wpb_row.vc_inner.vc_row-has-fill{padding:0 0px;}
		
	}
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { width:100%; margin:20px 0px 0px 0px; }
		.event-contact-info:before { left:0px; width:100%; background-size:100%; }
		.event-contact-info .dt-sc-sociable li { margin-bottom:20px; }
	
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_left-override.vc_row .vc_column-inner, .rs_padding_left-override.wpb_column .vc_column-inner { padding-left:15px !important; }
		.vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner { padding-right: 35px; padding-left: 35px; }
		
		/*----*****---- << Attorney >> ----*****----*/
		.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame, .dt-sc-tabs-vertical-frame-container.rs_align_middle .dt-sc-tabs-vertical-frame-content { margin:0; }
		.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a.current, .dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a { border-right:1px solid rgba(0, 0, 0, 0.1); }
		
		.gradient-content .dt-sc-button.medium { padding: 14px 20px; }
		
		.overflow-content { margin: 0; }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-table th { text-transform:capitalize; font-size:12px; padding:13px 6px; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:12px; padding:22px 8px; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.rs_fontsize_small { font-size: 40px !important; }		
						
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 30px !important; padding-right: 30px !important; }
		
		/*----*****---- << Business >> ----*****----*/	
		.business-contact-social li { margin: 0 15px; }	
			
	}
	
	@media only screen and (min-width: 320px) and (max-width: 479px) {
	    .right-col-padding > .vc_column-inner{ padding:0 20px;} 
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { padding-left:20px; padding-right:20px; }
		.event-contact-info .dt-sc-contact-info span { width:100%; text-align:center; float:none; margin:0; }
		
		/*----*****---- << Hosting contact Page >> ----*****----*/	
		.hosting-contact-info-container:before { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:0px; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0px; }
		.hosting-contact-info-container:before { width:100%; }
		
		/*----*****---- << Hosting Domain Page >> ----*****----*/		
		.hosting-table th { font-size:10px; padding:13px 0; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:10px; padding:21px 7px; }

		/*----*****---- << Common >> ----*****----*/
		.rs_fontsize_small { font-size: 32px !important; }
		
		/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 20px !important; padding-right: 20px !important; }
	
		/*----*****---- << Fitness >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 10px; padding-left: 15px; }
		.dt-sc-text-with-icon span { font-size: 15px; margin-right: 5px; }
		
		.right-col-padding > .vc_column-inner{ padding:0 15px;} 		
	}